on: issue_comment
  
jobs:
  job:
    if: ${{ github.event.issue.pull_request }}
    
    runs-on: 
      - ubuntu-latest
      
    steps:
      - name: Checkout Current Branch
        uses: actions/checkout@v3
      - name: debug
        run: echo "hello world!"
      - name: debug2
        id: out
        run: echo HELLO=$(cat hello) >> $GITHUB_OUTPUT
      - name: debug3
        run: ${{ steps.out.outputs.HELLO }}
