on:
  - push
  
jobs:
  job:
    runs-on: 
      - ubuntu-latest
      
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: debug
        run: echo ${{ secrets.ENV }} > file
        

      - name: Commit files
        run: |
          git config --local user.email "hakobmkoyan8@gmail.com"
          git config --local user.name "fortranhub"
          git commit -a -m "Add changes"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          force_with_lease: true
